HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/java/resources/application-dev.properties
/src/main/resources/META-INF/native-image/.lock
/src/main/resources/META-INF/native-image/agent-pid1575876-20240414T134448Z.tmp9037305446380398104/jni-config.json
/src/main/resources/META-INF/native-image/agent-pid1575876-20240414T134448Z.tmp9037305446380398104/predefined-classes-config.json
/src/main/resources/META-INF/native-image/agent-pid1575876-20240414T134448Z.tmp9037305446380398104/proxy-config.json
/src/main/resources/META-INF/native-image/agent-pid1575876-20240414T134448Z.tmp9037305446380398104/reflect-config.json
/src/main/resources/META-INF/native-image/agent-pid1575876-20240414T134448Z.tmp9037305446380398104/resource-config.json
/src/main/resources/META-INF/native-image/agent-pid1575876-20240414T134448Z.tmp9037305446380398104/serialization-config.json
